---
type Props = {
  src: string | ImageMetadata;
  alt: string;
};

const { src, alt } = Astro.props;

const imageUrl = typeof src === "string" ? src : src.src;
---

<div class="bg-tertiary-background my-6 h-[500px] w-full rounded-lg">
  <img src={imageUrl} alt={alt} class="mx-auto h-full" />
</div>
