---
import type { MarkdownLayoutProps } from "astro";
import { z } from "astro:content";
import { newsSchema } from "@/content/config";
import { Icon } from "astro-icon/components";
import CommonLayout from "./CommonLayout.astro";
import { formatDate } from "@/lib/date";

type Props = MarkdownLayoutProps<z.infer<typeof newsSchema>>;

const { frontmatter } = Astro.props;

const publishedAt = formatDate(frontmatter.publishedAt);
---

<CommonLayout title={frontmatter.title}>
  <p class="mt-12 text-5xl">{frontmatter.emoji}</p>
  <h1 class="mt-6 text-4xl font-bold">{frontmatter.title}</h1>
  <p
    class="mt-6 flex w-fit items-center space-x-2 rounded-full bg-accent bg-tertiary-background px-3 py-1 text-xs text-secondary-foreground"
  >
    <Icon name="calendar-stats" class="h-4 w-4" />
    <span>{publishedAt}</span>
  </p>
  <article class="prose mt-12">
    <slot />
  </article>
  <a
    class="mx-auto mt-12 flex w-fit items-center space-x-1 rounded-full bg-accent px-5 py-3 text-center text-sm text-primary-background transition hover:brightness-95"
    href="https://yondako.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <span>yondakoを開く</span>
    <Icon name="external-link" class="h-4 w-4" />
  </a>
</CommonLayout>
