---
import { Image } from "astro:assets";
import logoImage from "@/assets/logo.svg";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | yondako</title>
    <meta name="og:title" content={title} />
    <meta property="og:type" content="website" />
  </head>
  <body
    class="mx-auto max-w-screen-md bg-primary-background bg-gradation bg-[length:45vw] bg-[top_-10vw_right] bg-no-repeat px-6 py-12 text-primary-foreground md:bg-[length:30vw] md:bg-[top_-8vw_right]"
  >
    <Image class="mx-auto w-40 md:mx-0 md:w-52" src={logoImage} alt="yondako" />
    <slot />
    <footer class="mt-12 text-center text-xs">
      <p class="mt-12 text-secondary-foreground">&copy; {new Date().getFullYear()} yondako</p>
    </footer>
  </body>
</html>
